.footerContainer{
    width: 1000px;
    margin: 100px auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    
}
.footerContainer p{
    border: solid black 1px;
    padding: 10px;
}