.loginContainer{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}